#ed-float {
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15) !important;
    background: white;
    display: none;
    position: fixed;
    border-radius: 5px;
    height:30px;
    border:1px solid darkgray;
    box-sizing: border-box;
    z-index: 200;
    
}
blockquote {border-left: 4px solid darkgray; padding-left:5px;}
#ed-float::before{
    content: '';
    border-top: 6px solid transparent;
    border-bottom: 6px solid gray;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    position: absolute;
    top: -13px;
    left: 5px;
}

.ed-input {
    width:200px;
    padding: 3px;
    margin: 1.5px;
    border-radius: 5px;
    border:1px solid lightgray;
}

#editor {
    display: inline-block;
    min-width:600px;
    resize: both;
    font-family: 'Nunito', sans-serif;
    /* margin-top: 300px; */
}

#ed-tools {
    max-width: 100%;
    min-width: 600px;
    position: absolute;
    background: white;
    /* border: 1px solid gray; */
    border-bottom: 1px solid lightgray;
    padding: 2px 5px;
    position: relative;
    box-sizing: border-box;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    resize: both;
}

#ed-space {
    max-width:100%;
    min-width: 600px;
    min-height: 300px;
    overflow-y: auto;
    overflow-wrap: break-word;
    background: white;
    /* border: 1px solid gray;  */
    position: relative;
    padding: 10px;
    box-sizing: border-box;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    resize: vertical;
}
.btn-box {
    display: flex;
    position: relative;
    left: auto;
    right: auto;
    top: auto;
}
.ed-select {
    border:none;
    max-width:100%;
    height:25px;
    cursor: pointer;
}
.ed-btn {
    border:none;
    border-radius: 5px;
    margin: auto 2px;
    height:25px;
    font-size: 100%;
    cursor: pointer;
}
.ed-btn-white {
    background: white;
    position: relative;
}
.ed-btn-div {
    margin: 0;
}
.ed-btn-white:hover {
    background: rgb(233, 233, 233);
}
.ed-btn-white:hover {
    background: rgb(233, 233, 233);
}
.ed-btn-white:active {
    background: rgb(206, 205, 205);
}

.active {background: rgb(206, 205, 205);}

[aria-label='tooltip']:hover:after {
    content: attr(aria-content);
    background: black;
    color: white;
    opacity: 0.8;
    padding: 5px;
    border-radius: 2px;
    min-width: 100px;
    position: absolute;
    top:30px;
    left: 0px;
    font-size: 12px;
    font-family: sans-serif;
    z-index: 20;
}

#ed-space:focus {
    border: 1px solid dodgerblue;
}

#highlightColor {
    mix-blend-mode: difference;
    color:white;
}

.ed-youtube {
    resize: both;
    overflow: hidden; 
    box-sizing: border-box;
    padding: 15px 0px 0px 0px;
    margin-top:10px; 
    background: rgb(221, 221, 221); 
    display: block;
    position: relative;
}
.ed-youtube:hover {
    cursor: pointer; 
}
#ed-output {overflow-wrap: break-word;}